<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            {foreach $permissionList as $val}
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">{$val.permission}</a>
                {if condition='!empty($val.child)'}
                <dl class="layui-nav-child">
                    {foreach $val.child as $valc}
                    <dd><a class="site-active" href="javascript:;" data-url="/admin/{$valc.controller}/{$valc.action}" data-id="{$valc.id}">{$valc.permission}</a></dd>
                    {/foreach}
                </dl>
                {/if}
            </li>
            {/foreach}
        </ul>
    </div>
</div>