<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>{$title}</title>
    {css href="/public/layui/css/layui.css"}
    {css href="/public/static/index/css/style.css"}
    {css href="/public/static/index/css/header.css"}
    {css href="/public/static/index/css/common.css"}

</head>
    <body>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <div class="layui-fluid">
            <!--头部顶部-->
            <div class="top layui-row">
                    <div class="layui-col-xs4" id="top-link"><a href="#"><img src="__INDEX__/images/pic-01-10.png">&nbsp;视库网首页</a></div>
                    {if condition="!isset($status)"}
                    <div class="layui-col-xs1 layui-col-md-offset3"><a href="#" target="_blank"><a href="#"><img src="__INDEX__/images/pic-02.png">上传</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-03.png">充值</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-04.png">帮助</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-40.png">登录</a></div>
                    <div class="layui-col-xs1" style="border:0;"><a href="#" target="_blank"><img src="__INDEX__/images/pic-41.png">注册</a></div>
                    {else /}
                    <div class="layui-col-xs1"><a href="#" target="_blank"><a href="#"><img src="__INDEX__/images/pic-02.png">上传</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-03.png">充值</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-04.png">帮助</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><a href="#"><img src="__INDEX__/images/pic-02.png">购物车</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-41.png">消息</a></div>
                    <div class="layui-col-xs1"><a href="#" target="_blank"><img src="__INDEX__/images/pic-41.png">账户</a></div>
                    <div class="layui-col-xs2" style="border:0;"><a href="#" target="_blank"><img src="#">头像</a></div>
                    {/if}
            </div>
            <!--end-->

            <!--头部查询-->
            <div class="search">
                <div class="search-logo"></div>
                <div class="logo-title">让创作更具价值</div>
                <div class="search-form">
                    <form action="#" method="post" class="layui-form">
                        <div class="layui-input-block">
                            <select name="type">
                                <option value="0">视频素材</option>
                                <option value="1">影视模板</option>
                                <option value="1">背景音乐</option>
                                <option value="1">音效</option>
                                <option value="1">创意影片</option>
                            </select>
                        </div>
                        <div class="layui-input-block">
                            <input type="text" name="" placeholder="&nbsp;创作从此开始" autocomplete="off" class="layui-input" id="search-input">
                        </div>
                        <div class="layui-input-block">
                            <input type="image" src="__INDEX__/images/pic-45.png" height="33" width="36" border="0" >
                        </div>
                        <div class="serach-title">影视行业一站式素材库，海量高素质视频素材、模板、创意影片汇集于此</div>
                    </form>
                </div>
            </div>
            <!--end-->

            <!--头部导航-->
            <div class="nav-bgd1">
                <div class="nav-bgd2">
                    <div class="layui-row nav">
                        <div class="layui-col-xs1" style="background:url('');"><a href="#" target="_blank">视频素材</a></div>
                        <div class="layui-col-xs1"><a href="#" target="_blank">影视模板</a></div>
                        <div class="layui-col-xs1"><a href="#" target="_blank">背景音乐</a></div>
                        <div class="layui-col-xs1"><a href="#" target="_blank">音效</a></div>
                        <div class="layui-col-xs1"><a href="#" target="_blank">创意影片</a></div>
                        <div class="layui-col-xs1"><a href="#" target="_blank">创作者交流</a></div>
                        <div class="layui-col-xs1"><a href="#" target="_blank">定制服务</a></div>
                    </div>
                </div>
            </div>
            <!--end-->
            <div  class="page-body">
                <!--轮播图推荐图-->
                <div class="layui-row carousel-album">
                    <div class="layui-col-xs6 layui-carousel" id="carousel">
                        <div carousel-item>
                            <img src="__INDEX__/images/test4.jpg">
                            <img src="__INDEX__/images/test5.jpg">
                            <img src="__INDEX__/images/test3.jpg">
                            <img src="__INDEX__/images/test1.jpg">
                            <img src="__INDEX__/images/test6.jpg">
                        </div>
                    </div>
                    <div class="layui-col-xs5" id="album">
                        <div class="layui-row">
                            <div class="layui-col-xs12 album-top">
                                <div class="album-top-position">
                                    <div class="top-position-outside">
                                        <div class="top-position-inside">
                                            <img src="__INDEX__/images/test1.jpg" class="position-img">
                                            <div class="album-top-mark">
                                                <img src="__INDEX__/images/pic-53.png">
                                            </div>
                                            <div class="album-top-title">
                                                <div>端午节专辑1</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-xs6">
                                    <div class="album-bottom">
                                        <div class="album-bottom-position">
                                            <div  class="bottom-position-outside">
                                                <div  class="bottom-position-inside">
                                                    <img src="__INDEX__/images/test4.jpg" class="position-img">
                                                    <div class="album-bottom-mark">
                                                        <img src="__INDEX__/images/pic-53.png">
                                                    </div>
                                                    <div class="album-buttom-title">
                                                        <div>端午节专辑2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-xs6">
                                    <div class="album-bottom">
                                        <div class="album-bottom-position">
                                            <div  class="bottom-position-outside" style="left:-1.5%">
                                                <div  class="bottom-position-inside">
                                                    <img src="__INDEX__/images/test4.jpg" class="position-img">
                                                    <div class="album-bottom-mark">
                                                        <img src="__INDEX__/images/pic-53.png">
                                                    </div>
                                                    <div class="album-buttom-title">
                                                        <div>端午节专辑3</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end-->
                <!--标题图片-->
                <div  class="title-img"></div>
                <!--end-->
                <!--精选专辑与公告区域-->
                <div class="layui-row layui-col-space25 album-announce" >
                    <!--精选专辑-->
                    <div class="layui-col-xs9">
                        <div class="layui-row">
                            <div class="layui-col-xs12 area-title">
                                <span class="area-title-icon"><img src="__INDEX__/images/pic-31.png"></span>
                                <span class='area-title-text1'>精选专辑</span>
                                <span class='area-title-text2'>在这里，鼓励原创和分享精神，我们帮助您实现创作背后的价值</span>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space15 album">
                            <div class="layui-col-xs4">
                                <div class="album-body">
                                    <div class="album-position">
                                        <div class="album-position-outside">
                                            <div class="album-position-inside">
                                                <div class="album-name">
                                                    <div>端午节专辑1</div>
                                                </div>
                                                <img src="__INDEX__/images/test1.jpg" class="position-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="album-body">
                                    <div class="album-position">
                                        <div class="album-position-outside">
                                            <div class="album-position-inside">
                                                <div class="album-name">
                                                    <div>端午节专辑2</div>
                                                </div>
                                                <img src="__INDEX__/images/test2.jpg" class="position-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="album-body">
                                    <div class="album-position">
                                        <div class="album-position-outside">
                                            <div class="album-position-inside">
                                                <div class="album-name">
                                                    <div>端午节专辑3</div>
                                                </div>
                                                <img src="__INDEX__/images/test3.jpg" class="position-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="album-body">
                                    <div class="album-position">
                                        <div class="album-position-outside">
                                            <div class="album-position-inside">
                                                <div class="album-name">
                                                    <div>端午节专辑4</div>
                                                </div>
                                                <img src="__INDEX__/images/test4.jpg" class="position-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="album-body">
                                    <div class="album-position">
                                        <div class="album-position-outside">
                                            <div class="album-position-inside">
                                                <div class="album-name">
                                                    <div>端午节专辑5</div>
                                                </div>
                                                <img src="__INDEX__/images/test5.jpg" class="position-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="album-body">
                                    <div class="album-position">
                                        <div class="album-position-outside">
                                            <div class="album-position-inside">
                                                <div class="album-name">
                                                    <div>端午节专辑6</div>
                                                </div>
                                                <img src="__INDEX__/images/test6.jpg" class="position-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--公告区域-->
                    <div class="layui-col-xs3 announce">
                        <div class="layui-col-xs12  announce-title">
                            <img src="__INDEX__/images/pic-32.png">公告
                        </div>
                       <div class="layui-col-xs12 announce-info">
                            <ul>
                                <li>视库网周年庆</li>
                                <li>视库网周年庆</li>
                                <li>视库网周年庆</li>
                                <li>视库网周年庆</li>
                            </ul>
                        </div>
                        <div class="layui-col-xs12 adver">
                            <img src="__INDEX__/images/pic-17-79.png">
                        </div>
                        <div class="layui-col-xs12 adver">
                            <img src="__INDEX__/images/pic-19.png">
                        </div>
                    </div>
                    <!--公告区域end-->
                </div>
                <!--精选专辑与公告区域end-->
                <!--作品推荐与明星创作者-->
                <div class="layui-row recommend-creator">
                    <!--作品推荐-->
                    <div class="layui-col-xs9 recommend">
                        <div class="layui-row recommend-title">
                            <div class="layui-col-xs12 area-title">
                                <span class="area-title-icon"><img src="__INDEX__/images/pic-31.png"></span>
                                <span class='area-title-text1'>作品推荐</span>
                                <span class='area-title-text2'>在这里，鼓励原创和分享精神，我们帮助您实现创作背后的价值</span>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space8">
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test8.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test8.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test8.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test8.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test8.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test3.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test5.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test7.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test5.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test4.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test2.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="recommend-body">
                                    <img src="__INDEX__/images/test1.jpg">
                                    <div class="recommend-position">
                                        <div>
                                            <div class="layui-col-xs3 layui-col-xs-offset1">1920X1080</div>
                                            <div class="layui-col-xs2 layui-col-xs-offset3">16s</div>
                                            <div class="layui-col-xs3">O-20</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--作品推荐end-->
                    <!--明星创作者-->
                    <div class="layui-col-xs3">
                        <div class="layui-col-xs11 layui-col-xs-offset1 creator">
                            <div class="layui-col-xs12 creator-title">
                                <img src="__INDEX__/images/pic-33.png">明星创作者
                            </div>
                            <div class="layui-col-xs12 creator-slogan">
                                数以百万的创作者选择视库网
                            </div>
                            <div class="layui-col-xs12 creator-body">
                                <div class="layui-col-xs12 creator-div1">
                                    <div class="layui-col-xs12 creator-info">
                                            <div class="layui-col-xs3 creator-info-avatar">
                                                <img src="__INDEX__/images/test2.jpg">
                                            </div>
                                            <div class="layui-col-xs8">
                                                <div class="layui-col-xs12 creator-info-name">
                                                    刘仪伟
                                                    <img src="__INDEX__/images/test9.png">
                                                </div>
                                                <div class="layui-col-xs12 creator-info-other">
                                                    摄影师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳
                                                </div>
                                            </div>
                                    </div>
                                    <div class="layui-col-xs12 creator-info-sign">
                                        <div class="layui-col-xs1 layui-col-xs-offset1"><img src="__INDEX__/images/pic-57.png"></div>
                                        <div class="layui-col-xs8 sign">比起空间我更喜欢来这里因为没顾忌</div>
                                        <div class="layui-col-xs1 sign-right"><img src="__INDEX__/images/pic-58.png"></div>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 creator-div2">
                                    <div class="layui-col-xs12 creator-info">
                                        <div class="layui-col-xs3 creator-info-avatar">
                                            <img src="__INDEX__/images/test2.jpg">
                                        </div>
                                        <div class="layui-col-xs8">
                                            <div class="layui-col-xs12 creator-info-name">
                                                刘仪伟
                                                <img src="__INDEX__/images/test9.png">
                                            </div>
                                            <div class="layui-col-xs12 creator-info-other">
                                                摄影师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs12 creator-info-sign">
                                        <div class="layui-col-xs1 layui-col-xs-offset1"><img src="__INDEX__/images/pic-57.png"></div>
                                        <div class="layui-col-xs8 sign">比起空间我更喜欢来这里因为没顾忌</div>
                                        <div class="layui-col-xs1 sign-right"><img src="__INDEX__/images/pic-58.png"></div>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 creator-div1">
                                    <div class="layui-col-xs12 creator-info">
                                        <div class="layui-col-xs3 creator-info-avatar">
                                            <img src="__INDEX__/images/test2.jpg">
                                        </div>
                                        <div class="layui-col-xs8">
                                            <div class="layui-col-xs12 creator-info-name">
                                                刘仪伟
                                                <img src="__INDEX__/images/test9.png">
                                            </div>
                                            <div class="layui-col-xs12 creator-info-other">
                                                摄影师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs12 creator-info-sign">
                                        <div class="layui-col-xs1 layui-col-xs-offset1"><img src="__INDEX__/images/pic-57.png"></div>
                                        <div class="layui-col-xs8 sign">比起空间我更喜欢来这里因为没顾忌</div>
                                        <div class="layui-col-xs1 sign-right"><img src="__INDEX__/images/pic-58.png"></div>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 creator-div2">
                                    <div class="layui-col-xs12 creator-info">
                                        <div class="layui-col-xs3 creator-info-avatar">
                                            <img src="__INDEX__/images/test2.jpg">
                                        </div>
                                        <div class="layui-col-xs8">
                                            <div class="layui-col-xs12 creator-info-name">
                                                刘仪伟
                                                <img src="__INDEX__/images/test9.png">
                                            </div>
                                            <div class="layui-col-xs12 creator-info-other">
                                                摄影师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs12 creator-info-sign">
                                        <div class="layui-col-xs1 layui-col-xs-offset1"><img src="__INDEX__/images/pic-57.png"></div>
                                        <div class="layui-col-xs8 sign">比起空间我更喜欢来这里因为没顾忌</div>
                                        <div class="layui-col-xs1 sign-right"><img src="__INDEX__/images/pic-58.png"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--明星创作者end-->
                </div>
                <!--作品推荐与明星创作者end-->

            </div>
        </div>
    </body>
{js href="/public/layui/layui.js"}

<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carousel',
            width:'57.5%',
            height:'432px',
            arrow: 'hover',
            anim: 'fade', //切换动画方式
            interval:'2000'
        });
    });

    layui.use(['jquery', 'layer', 'form'], function(){
        var form = layui.form;
    })
</script>
</html>