{extend name="./public/base" /}
{block name="content"}
<script src="_JS_/admin/user.js"></script>
{if condition="$act eq 'category'"}
<div class="layui-form-item">
    <button class="layui-btn" onclick="location.href='/admin/user/categoryAddView'">添加会员分类</button>
</div>
<table class="layui-table">
    <thead>
    <tr>
        <th>会员分类</th>
        <th>是否发布</th>
        <th>是否默认</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $categoryList as $val}
    <tr>
        <td>{$val.user_category_name}</td>
        <td>{$val.status == 1 ? "发布" : "不发布"}</td>
        <td>{$val.type == 1 ? "默认" : "不默认"}</td>
        <td><a href="/admin/user/categoryAddView?id={$val.id}">编辑</a></td>
    </tr>
    {/foreach}
    {if condition="$categoryList->render() neq ''"}
    <tr><td colspan="5">{$categoryList->render()}</td></tr>
    {/if}
    </tbody>
</table>
{else}
<div class="layui-form">
    <input type="hidden" name="id" value="{$categoryInfo['id'] ?? ''}"/>
    <div class="layui-form-item">
        <label class="layui-form-label">会员分类名称</label>
        <div class="layui-input-inline">
            <input type="text" name="categoryName" autocomplete="off" class="layui-input" value="{$categoryInfo['user_category_name'] ?? ''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否发布</label>
        <div class="layui-input-inline">
            <select name="status">
                {if condition="isset($categoryInfo['status'])"}
                <option value="1" {$categoryInfo['status'] == 1 ? "selected" : ""} >是</option>
                <option value="0" {$categoryInfo['status'] == 0 ? "selected" : ""} >否</option>
                {else /}
                <option value="1" >是</option>
                <option value="0" >否</option>
                {/if}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否默认</label>
        <div class="layui-input-inline">
            <select name="type">
                {if condition="isset($categoryInfo['type'])"}
                <option value="1" {$categoryInfo['type'] == 1 ? "selected" : ""} >是</option>
                <option value="0" {$categoryInfo['type'] == 0 ? "selected" : ""} >否</option>
                {else /}
                <option value="1" >是</option>
                <option value="0" >否</option>
                {/if}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">会员注册时默认的分类</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="$.user.categoryAdd();">提交</button>
        </div>
    </div>
</div>
{/if}
{/block}